.content {
  background-color: #bdc3c7;
  padding: 80px 0 195px;
  font-size: 14px;
  line-height: 30px;
}
.content h2 {
  font-size: 22px;
  color: #049586;
  font-weight: bold;
  margin: 0 0 36px 0;
  text-align: center;
  line-height: 28px;
}
.content h3 {
  font-size: 18px;
}
.content h4 {
  font-size: 14px;
  line-height: 18px;
}
.left-menu {
  padding-left: 0;
}
.left-menu li {
  list-style: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  background-color: #a3a7a9;
  border: 2px solid #9fa4a6;
  border-left: 4px solid #049586;
  margin-top: 20px;
  position: relative;
}
.left-menu li:hover {
  background-color: #7f8c8d;
  border-color: #7f8585;
  border-left-color: #049586;
}
.left-menu li:first-child {
  margin-top: 0;
}
.left-menu li a,
.left-menu li span {
  padding: 12px 18px;
  color: inherit;
  display: block;
}
.left-menu li a:hover,
.left-menu li span:hover {
  text-decoration: none;
  cursor: pointer;
}
.left-menu li a:focus,
.left-menu li span:focus {
  text-decoration: none;
  outline: none;
}
.hover-drop {
  width: 215px;
  position: absolute;
  left: 100%;
  top: -2px;
  z-index: 1;
  background-color: #ecf0f1;
  padding-left: 0;
  display: none;
  transition: 1s;
}
.hover-drop li {
  color: #049586;
  background-color: transparent;
  border: none;
  margin: 0;
}
.hover-drop li:hover {
  color: #fff;
  background-color: #049586;
}
.navbar-default {
  background: transparent;
  border: none;
}
.content-text-field {
  background-color: #ced3d5;
  padding: 55px;
}
.content-text-field img {
  margin: 0 15px 15px 0;
}
.content-text-field a {
  color: #049586;
  text-decoration: underline;
}
.content-text-field a:hover,
.content-text-field a:focus {
  color: #7f8c8d;
  outline: none;
}
.collapseList {
  padding-left: 0;
  list-style: none;
}
.collapseList p {
  padding-left: 10px;
  display: none;
}
