.caret {
  margin-left: 12px;
}
#header {
  background: #ecf0f1;
  border-bottom: 3px solid #049586;
}
.header-top {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo img {
  max-width: 175px;
}
.logo-text h1 {
  padding-top: 12px;
  padding-left: 5px;
  text-align: center;
}
.header-navigation {
  background: #049586;
  text-align: center;
}
.header-navigation .navbar {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
.header-navigation .navbar-nav {
  float: none;
  margin: 0 auto;
  letter-spacing: -4px;
}
.header-navigation .navbar-nav>li {
  float: none;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
.header-navigation .navbar-nav>li>a {
  padding: 19px 28px;
  color: #fff;
}
.header-navigation .navbar-nav>li>a:hover,
.header-navigation .navbar-nav>li>a:focus {
  background: #29a598;
  color: #fff;
}
.header-navigation .navbar-nav>li.active>a {
  background: #29a598;
  color: #fff;
}
.header-navigation .navbar-nav>li.active>a:hover {
  background: #29a598;
  color: #fff;
}
.header-navigation .navbar-nav>li.dropdown>a {
  padding-right: 11px;
}
.header-navigation .navbar-nav>li.dropdown ul li a:hover,
.header-navigation .navbar-nav>li.dropdown ul li a:focus {
  color: #049586;
  background: none;
}
.header-navigation .navbar-nav .open>a {
  background: #049586;
  color: #fff;
}
.header-navigation .navbar-nav .open>a:hover,
.header-navigation .navbar-nav .open>a:focus {
  color: #fff;
  background: #049586;
}
