@import url("http://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic&subset=latin,cyrillic-ext");
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.sprite {
  background-image: url("../img/sprite.png");
  display: block;
}
/* =============================================================================
     Variables
     ========================================================================== */
/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #000;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fff;
  text-shadow: none;
}
::selection {
  background: #fff;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* ==|== Author's custom styles ===============================================
     ========================================================================== */
body {
  font-family: arial;
  background-color: #bdc3c7;
  position: relative;
}
.container {
  width: 970px;
}
h1 {
  font-size: 46px;
  line-height: 60px;
  font-weight: bold;
}
#loader {
  background: none repeat scroll 0 0 #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#loaderInner {
  background-image: url("../img/preloader.gif");
  background-repeat: no-repeat;
  background-posirion: center center;
  background-color: #fff;
  height: 128px;
  width: 128px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}
.caret {
  margin-left: 12px;
}
#header {
  background: #ecf0f1;
  border-bottom: 3px solid #049586;
}
.header-top {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo img {
  max-width: 175px;
}
.logo-text h1 {
  padding-top: 12px;
  padding-left: 5px;
  text-align: center;
}
.header-navigation {
  background: #049586;
  text-align: center;
}
.header-navigation .navbar {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0;
}
.header-navigation .navbar-nav {
  float: none;
  margin: 0 auto;
  letter-spacing: -4px;
}
.header-navigation .navbar-nav>li {
  float: none;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
.header-navigation .navbar-nav>li>a {
  padding: 19px 28px;
  color: #fff;
}
.header-navigation .navbar-nav>li>a:hover,
.header-navigation .navbar-nav>li>a:focus {
  background: #29a598;
  color: #fff;
}
.header-navigation .navbar-nav>li.active>a {
  background: #29a598;
  color: #fff;
}
.header-navigation .navbar-nav>li.active>a:hover {
  background: #29a598;
  color: #fff;
}
.header-navigation .navbar-nav>li.dropdown>a {
  padding-right: 11px;
}
.header-navigation .navbar-nav>li.dropdown ul li a:hover,
.header-navigation .navbar-nav>li.dropdown ul li a:focus {
  color: #049586;
  background: none;
}
.header-navigation .navbar-nav .open>a {
  background: #049586;
  color: #fff;
}
.header-navigation .navbar-nav .open>a:hover,
.header-navigation .navbar-nav .open>a:focus {
  color: #fff;
  background: #049586;
}
.content {
  background-color: #bdc3c7;
  padding: 80px 0 195px;
  font-size: 14px;
  line-height: 30px;
}
.content h2 {
  font-size: 22px;
  color: #049586;
  font-weight: bold;
  margin: 0 0 36px 0;
  text-align: center;
  line-height: 28px;
}
.content h3 {
  font-size: 18px;
}
.content h4 {
  font-size: 14px;
  line-height: 18px;
}
.left-menu {
  padding-left: 0;
}
.left-menu li {
  list-style: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  background-color: #a3a7a9;
  border: 2px solid #9fa4a6;
  border-left: 4px solid #049586;
  margin-top: 20px;
  position: relative;
}
.left-menu li:hover {
  background-color: #7f8c8d;
  border-color: #7f8585;
  border-left-color: #049586;
}
.left-menu li:first-child {
  margin-top: 0;
}
.left-menu li a,
.left-menu li span {
  padding: 12px 18px;
  color: inherit;
  display: block;
}
.left-menu li a:hover,
.left-menu li span:hover {
  text-decoration: none;
  cursor: pointer;
}
.left-menu li a:focus,
.left-menu li span:focus {
  text-decoration: none;
  outline: none;
}
.hover-drop {
  width: 215px;
  position: absolute;
  left: 100%;
  top: -2px;
  z-index: 1;
  background-color: #ecf0f1;
  padding-left: 0;
  display: none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
.hover-drop li {
  color: #049586;
  background-color: transparent;
  border: none;
  margin: 0;
}
.hover-drop li:hover {
  color: #fff;
  background-color: #049586;
}
.navbar-default {
  background: transparent;
  border: none;
}
.content-text-field {
  background-color: #ced3d5;
  padding: 55px;
}
.content-text-field img {
  margin: 0 15px 15px 0;
}
.content-text-field a {
  color: #049586;
  text-decoration: underline;
}
.content-text-field a:hover,
.content-text-field a:focus {
  color: #7f8c8d;
  outline: none;
}
.collapseList {
  padding-left: 0;
  list-style: none;
}
.collapseList p {
  padding-left: 10px;
  display: none;
}
footer {
  height: 75px;
  background-color: #a3a7a9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer:before {
  content: '';
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 65px;
  background-image: url("../img/footer.png");
}
/* END Site style*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group; /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media (min-width: 992px) {
  .left-menu li:hover .hover-drop {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 35px;
    line-height: 42px;
  }
  .header-navigation .navbar-nav>li {
    float: left;
  }
  .header-navigation .navbar-nav>li.dropdown>a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .content {
    padding-top: 0px;
  }
  .content-text-field {
    margin-left: 0px;
    margin-top: 40px;
    padding: 20px;
  }
  .left-menu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding-top: 60px;
  }
  .container {
    width: 750px;
  }
  .navbar {
    min-height: 0px;
  }
  .navbar-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #049586;
    display: block;
    height: auto;
  }
  .navbar-default .navbar-toggle {
    border-width: 2px;
  }
  .navbar-default .navbar-toggle:hover .icon-bar,
  .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #049586;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-collapse {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 50px;
    background-color: #a3a7a9;
    z-index: 10;
  }
  .navbar-default .navbar-collapse li {
    border: none;
  }
  .header-navigation .navbar-nav li {
    display: block;
    float: none;
    color: #555;
    background: #e7e7e7;
  }
  .header-navigation .navbar-nav li.active {
    color: #fff;
  }
  .header-navigation .navbar-nav li.active a {
    background: #7f8c8d;
    color: #fff;
  }
  .header-navigation .navbar-nav li.active a:hover {
    background: #7f8c8d;
    color: #fff;
  }
  .header-navigation .navbar-nav li a {
    color: #555;
  }
  .header-navigation .navbar-nav li a:hover {
    background: #a3a7a9;
    color: #fff;
  }
  .header-navigation .navbar-nav li a:focus {
    background: #ced3d5;
    color: #555;
  }
  .header-navigation .navbar-nav li.open a,
  .header-navigation .navbar-nav li.open a:hover {
    background: #ced3d5;
    color: #555;
  }
  .header-navigation .navbar-nav li.open .dropdown-menu li a {
    background: #ced3d5;
    color: #555;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: normal;
  }
  .header-navigation .navbar-nav li.open .dropdown-menu li a:focus {
    background: #ced3d5;
    color: #555;
  }
  .navbar-collapse {
    padding: 0;
  }
  .hover-drop {
    width: 100%;
    left: 0;
    top: 100%;
  }
  .navbar-collapse.in {
    overflow: visible;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .container {
    width: 100%;
  }
  header {
    padding-top: 35px;
  }
  .header-top {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .logo img {
    margin: 0 auto;
  }
  .logo-text h1 {
    padding: 0;
  }
  .navbar {
    min-height: 0px;
  }
  .navbar-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #049586;
    display: block;
    height: auto;
  }
  .navbar-default .navbar-toggle {
    border-width: 2px;
  }
  .navbar-default .navbar-toggle:hover .icon-bar,
  .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #049586;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-collapse {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 50px;
    background-color: #a3a7a9;
    z-index: 10;
  }
  .navbar-default .navbar-collapse li {
    border: none;
  }
  .header-navigation .navbar-nav li {
    display: block;
    float: none;
    color: #555;
    background: #e7e7e7;
  }
  .header-navigation .navbar-nav li.active {
    color: #fff;
  }
  .header-navigation .navbar-nav li.active a {
    background: #7f8c8d;
    color: #fff;
  }
  .header-navigation .navbar-nav li.active a:hover {
    background: #7f8c8d;
    color: #fff;
  }
  .header-navigation .navbar-nav li a {
    color: #555;
  }
  .header-navigation .navbar-nav li a:hover {
    background: #a3a7a9;
    color: #fff;
  }
  .header-navigation .navbar-nav li a:focus {
    background: #ced3d5;
    color: #555;
  }
  .header-navigation .navbar-nav li.open a,
  .header-navigation .navbar-nav li.open a:hover {
    background: #ced3d5;
    color: #555;
  }
  .header-navigation .navbar-nav li.open .dropdown-menu li a {
    background: #ced3d5;
    color: #555;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: normal;
  }
  .header-navigation .navbar-nav li.open .dropdown-menu li a:focus {
    background: #ced3d5;
    color: #555;
  }
  .navbar-collapse {
    padding: 0;
  }
  .hover-drop {
    width: 100%;
    left: 0;
    top: 100%;
  }
  .navbar-collapse.in {
    overflow: visible;
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 21px;
    line-height: 28px;
  }
}
