.content-text-field
  h2 Глава 1. ОБРАЩЕНИЕ В ТРЕТЕЙСКИЙ СУД
  p
  strong
    |Статья 1. Право обращения в Третейский суд
  ol
    li Третейский суд принимает к рассмотрению споры организаций - юридических лиц, граждан, осуществляющих предпринимательскую деятельность без образования юридического лица и имеющих статус индивидуального предпринимателя, приобретенный в установленном законом порядке, физических лиц, которые предъявили в Третейский суд иск в защиту своих прав и интересов, либо которым предъявлен иск.
  p
  strong
    |Статья 2. Порядок обращения в Третейский суд
  ol
    li Для обращения в Третейский суд не требуется соблюдения предварительного порядка урегулирования споров самими сторонами.
    li Обращение в Третейский суд осуществляется в форме искового заявления. Заявление может быть направлено в Третейский суд почтовой связью, курьерской службой, электронной связью ссылка на эл. адрес или вручено непосредственно Председателю Третейского суда или уполномоченному лицу.
      |  Согласно ФЗ-№ 63 "Об электронной подписи" и ФЗ &laquo;Об электронной цифровой подписи&raquo; исковое заявление, направленное в Третейский суд по средствам электронной связи, подписанное электронной цифровой подписью (ЭЦП),  признается электронным документом, равнозначным документу (иску) на бумажном носителе, оформленному в соответствии со всеми нормами законодательства.
  p
  strong
    |Статья 3. Решение Третейским судом вопроса о возможности рассмотрения спора
  ol
    li Третейский суд самостоятельно решает вопрос наличия или действительности соглашения о передаче спора Третейскому суду. Если Третейский суд признаёт отсутствие или недействительность соглашения сторон, материалы по спору возвращаются сторонам без рассмотрения.
  h2 Глава 2. ТРЕТЕЙСКОЕ СОГЛАШЕНИЕ
  p
  strong
    |Статья 4. Третейское соглашение
  ol
    li Соглашение о передаче спора в Третейский суд - это соглашение сторон о передаче в Третейский суд конкретного спора, определенных категорий или вообще всех споров, которые возникли или могут возникнуть между ними в связи с каким-либо правоотношением, независимо от того, носило ли оно договорной характер. Соглашение может быть заключено в виде третейской оговорки в договоре, в виде отдельного соглашения, подписанного сторонами, либо путём обмена документами.
      o
        li Соглашение заключается в письменной форме. Соглашение о передаче спора Третейскому суду считается заключенным в письменной форме, если оно содержится в документе, подписанном сторонами, или заключено путём обмена письмами, документами, сообщениями по телетайпу, факсу, электронной почте, электронной связи, телеграфу, или с использованием иных средств связи, обеспечивающих фиксирование такого соглашения.
          |  При электронном документообороте Третейское Соглашение считается заключенным в письменной форме, с соблюдением всех норм законодательства, если оно подписано сторонами электронной подписью, ЭЦП.
        li Ссылка в договоре на документ, содержащий условие о передаче спора на разрешение Третейского суда, является третейским соглашением при условии, что договор заключен в письменной форме и данная ссылка такова, что делает третейское соглашение частью договора.
        li При установлении в договоре присоединения между сторонами третейского соглашения, его действительность должна быть подтверждена письменным соглашением после возникновения оснований спора.
        li Соглашение о передаче спора на разрешение третейского суда может быть включено в правила организованных торгов, правила клиринга, которые зарегистрированы в соответствии с законодательством Российской Федерации. Такое соглашение является третейским соглашением участников организованных торгов, сторон договора, заключенного на организованных торгах в соответствии с правилами организованных торгов, или участников клиринга.
          |  Если стороны не договорились об ином, то при передаче спора в Третейский суд настоящий Регламент рассматривается в качестве неотъемлемой части третейского соглашения (оговорки).
          |  Третейское соглашение, заключенное в виде оговорки в договоре, должно рассматриваться как не зависящее от других условий договора. Третейский судья (состав судей) в случаях, когда хотя бы одна из сторон возражает против третейского разбирательства по мотиву отсутствия или недействительности третейского соглашения (оговорки) выносит соответствующее определение.
          |  В случае если сторона заявит об отсутствии у Третейского суда компетенции рассматривать переданный на его разрешение спор либо о превышении Третейским судом его компетенции, если в ходе третейского разбирательства предметом третейского разбирательства станет вопрос, рассмотрение которого не предусмотрено третейским соглашением (третейской оговоркой) либо который не может быть предметом третейского разбирательства в соответствии с федеральным законом или настоящим Регламентом, третейский судья (состав судей) выносит определение о наличии или отсутствии у Третейского суда компетенции для рассмотрения данного спора.
        li Третейское соглашение (оговорка) должно отражать намерение сторон передать спор на разрешение в Третейский суд. Если в третейской оговорке (соглашении) в названии Третейского суда используются синонимы слов, близкие по значению, заимствованные из иностранных языков, либо иные синонимы, позволяющие Третейскому суду определить, что спор может быть рассмотрен Третейским судом, то в этом случае Третейский суд вправе принять дело к своему производству. Образцы третейского соглашения и третейской оговорки являются приложениями к настоящему регламенту. Ссылка:
  h2 Глава 3. ОСОБЕННОСТИ ПРИЗНАНИЯ ОТВЕТЧИКАМИ (ДОЛЖНИКАМИ) ПОЛОЖЕНИЙ  ТРЕТЕЙСКОГО СОГЛАШЕНИЯ ИЛИ ТРЕТЕЙСКОЙ ОГОВОРКИ
  p
  strong
    |Статья 5. Признание положений настоящего Регламента сторонами
  ol
    li С учётом того, что третейское соглашение (третейская оговорка) заключены при добровольном волеизъявлении сторон, которые ссылаются на рассмотрение своих споров в данном Третейском суде, настоящий Регламент является частью договора или третейского соглашения, или третейской оговорки.
    li Настоящий Регламент заявительным порядком легализован в компетентном государственном суде, Арбитражном суде г. Москвы, основан на нормах третейского, процессуального и договорного права, является добровольным волеизъявлением сторон и свидетельствует, что сторонами достигнуты все договоренности и решения по всем условиям, содержащимся в настоящем Регламенте.
      |  Настоящий Регламент одновременно является обязательством любой стороны по спору, от несоблюдения которого сторона не вправе односторонне отказаться, обязывает стороны к добросовестному исполнению ими правил и требований Третейского суда или других договорных обязательств, предусмотренных в настоящем Регламенте. Заявления сторон о неправильном толковании Регламента, о каком-либо отказе от части или всего Регламента, не могут служить препятствием для рассмотрения споров по существу в Третейском суде и осуществлении прав сторон в третейском судопроизводстве и связанных с ним законных интересов.
  p
  strong
   |Статья 6. Ознакомление сторон с настоящим Регламентом
  ol
    li Обязанность сторон, заключивших третейское соглашение или третейскую оговорку, ознакомиться своевременно и в полном объёме с настоящим Регламентом, лежит на них самих. Подписание сторонами третейского соглашения (оговорки) является подтверждением ознакомления с настоящим регламентом и правилами третейского судопроизводства.