.content-text-field
  h2 ЧАСТЬ 2. СОСТАВ ТРЕТЕЙСКОГО СУДА
  p
    strong
      |Статья 7. Третейский судья
  ol
    li  Третейскими судьями назначаются физические лица, имеющие высшее юридическое образование, способные обеспечить беспристрастное разрешение спора, прямо или косвенно не заинтересованные в исходе дела, являющиеся независимыми от сторон и давшие согласие на исполнение обязанностей третейских судей.
    li  Третейскими судьями также могут быть назначены физические лица, имеющие высшее не юридическое образование, способные обеспечить беспристрастное разрешение спора, прямо или косвенно не заинтересованные в исходе дела, являющиеся независимыми от сторон и давшие согласие на исполнение обязанностей третейских судей, однако они не вправе разрешать  дело единолично, и назначаются в состав третейского суда, разрешающего дело коллегиально, председатель которого должен иметь высшее юридическое образование.
    li Список Третейских судей утверждается Генеральным директором ООО «Центр правовой поддержки № 1».
  p
    strong
      |Статья 8. Единоличное и коллегиальное рассмотрение дел
  ol
    li Рассмотрение дел в Третейском суде производится единолично в составе одного судьи, назначаемого Председателем Третейского суда или Заместителем Председателя Третейского суда. 
    li Стороны вправе заключить между собой соглашение о коллегиальном рассмотрении дела, которое осуществляется в составе 3-х Третейских судей,порядок назначения коллегии судей определяется настоящим регламентом.
    li Председатель Третейского суда может избрать для рассмотрения спора состав из трёх третейских судей вне зависимости от соглашения сторон.
  p
    strong
      |Статья 9. Единоличный Третейский судья
  ol
    li Третейский судья для единоличного разрешения спора назначается из Списка Третейских судей, если при его подаче истец не представит Третейскому суду ходатайства и документов, свидетельствующих о достижении сторонами соглашения о рассмотрении спора коллегиальным составом. 
    li О назначении единоличного Третейского судьи Председатель Третейского суда или Заместитель Председателя Третейского суда выносит определение.
    li Копии определения о назначении единоличного Третейского судьи направляются сторонам.
  p
    strong
      |Статья 10. Коллегиальный состав Третейского суда
  ol
    li Коллегиальный состав Третейского суда состоит из 3-х судей, которых назначает Председатель Третейского суда из числа входящих в Список третейских судей в соответствии с настоящим регламентом и Положением о Третейском суде. 
    li Решение о начале формирования коллегиального состава Третейского суда для разрешения спора принимается Председателем Третейского суда по ходатайству стороны третейского разбирательства, о чем он выносит определение.
    li К ходатайству о рассмотрении дела коллегиальным составом Третейского суда должен прилагаться подлинник или нотариально удостоверенная копия соглашения сторон третейского разбирательства о разрешении их спора коллегиальным составом Третейского суда; ходатайство  может быть заявлено стороной при подаче искового заявления, либо после подачи, но до начала рассмотрения дела. До начала рассмотрения ходатайства о рассмотрении дела коллегиальным составом Третейского суда, каждая из Сторон обязана избрать одного судью из числа входящих в Список третейских судей.В случае удовлетворения ходатайства о рассмотрении дела в коллегиальном составе и утверждении судей избранных сторонами, председательствующего в судебном заседании судей назначает Председатель Третейского суда по собственному усмотрению. В случае отсутствия ясно выраженного волеизъявления любой из сторон о выборе судьи в состав коллегии, Председатель Третейского судаможет назначить судей по собственному усмотрению, либо отказать в рассмотрении дела коллегиальным составом суда и назначить судью для единоличного рассмотрения дела.
    li Ходатайство о рассмотрении дела коллегиальным составом Третейского суда рассматривается Председателем Третейского суда. В случае удовлетворения ходатайства о рассмотрении дела коллегиальным составом Третейского суда, Председатель Третейского суда назначает 3-х судей и председателя судебного заседания, выбранного из 3-х назначенных судей. Стороны уведомляются об удовлетворении ходатайства о рассмотрении дела в коллегиальном составе.
  p
    strong
      |Статья 11. Порядок разрешения вопросов Третейским судом в коллегиальном составе
  ol
    li Вопросы, возникающие при рассмотрении дела Третейским судом в коллегиальном составе, разрешаются Третейскими судьями простым большинством голосов. Никто из Третейских судей не вправе воздержаться от голосования. Третейский судья - председательствующий в заседании - голосует последним.
  p
    strong
      |Статья 12. Отвод судьи
  ol
    li Каждая из сторон вправе заявить об отводе третейского судьи, если существуют обстоятельства, вызывающие обоснованные сомнения относительно его беспристрастности или независимости, в частности, если можно предположить, что он лично, прямо или косвенно, заинтересован в исходе дела. 
    li В состав Третейского суда, рассматривающего дело, не могут входить лица, состоящие в родстве между собой.
    li Самоотвод или отвод должен быть мотивирован и заявлен до начала рассмотрения дела по существу. Заявление самоотвода или отвода в ходе дальнейшего рассмотрения дела допускается только в случае, если основание для самоотвода или отвода стало известно лицу, заявляющему самоотвод или отвод, либо суду после начала рассмотрения дела по существу.
    li Вопрос об отводе судьи разрешается Председателем Третейского суда или Заместителем Председателя Третейского суда – в отсутствие Председателя.
    li Если отвод заявлен против двух третейских судей одного состава, вопрос об их отводе решается Председателем Третейского суда или Заместителем Председателя Третейского суда– в отсутствие Председателя.
  p
    strong
      |Статья 13. Замена судьи
  ol
    li Замена третейского судьи возможна:
    ol
      li В случае прекращения полномочий третейского судьи по основаниям, предусмотренным ст. 12 настоящего Регламента
      li длительного отсутствия Третейского судьи, ввиду болезни, отпуска, пребывания на учебе, нахождения в служебной командировке.
      li прекращения или приостановления полномочий третейского судьи.
      li иным законным основаниям.
    li В случае замены Третейского судьи в процессе рассмотрения дела третейское разбирательство по решению Председателя Третейского суда может быть произведено с самого начала.
  p
    strong
      |Статья 14. Отвод помощника Третейского судьи, секретаря судебного заседания, эксперта, специалиста, переводчика
    |  Помощник Третейского судьи, секретарь судебного заседания, эксперт, специалист, переводчик не могут участвовать в рассмотрении дела и подлежат отводу по основаниям, предусмотренным статьей 12 настоящего Регламента. 
    |  Основанием для отвода эксперта является также проведение им ревизии или проверки, материалы которых стали поводом для обращения в Третейский суд или используются при рассмотрении дела.
  ol
    li Вопрос об отводе помощника Третейского судьи, секретаря судебного заседания, эксперта, специалиста, переводчика разрешается составом Третейского суда, рассматривающим дело.
  p
    strong
      |Статья 15. Секретариат
  ol
    li Ответственный секретарь Третейского суда (далее - ответственный секретарь) возглавляет секретариат третейского суда и осуществляет полномочия, необходимые для обеспечения деятельности Третейского суда, в соответствии с настоящим Регламентом. 
    li Ответственный секретарь назначается Председателем Третейского суда.
    li Секретариат осуществляет функции, необходимые для ведения делопроизводства Третейского суда, проведения заседаний Третейского суда по разрешению конкретного спора. Вся переписка Третейского суда со сторонами по делу осуществляется через секретариат.
    li Ответственный секретарь вправе заверять копии документов Третейского суда.
    li Ответственный секретарь или секретарь из числа секретариата может участвовать в заседаниях Третейского суда в качестве секретаря судебного заседания.