.content-text-field
  h2 Правоустанавливающие документы
  ul
    li
      a(href="pdf/Reglament.pdf" target="_blank") РEГЛАМЕНТ
    li
      a(href="pdf/Prikaz.pdf" target="_blank") ПРИКАЗ-список
    li
      a(href="pdf/Polozhenie.pdf" target="_blank") Положение о Третейском суде г. Москвы по экономическим спорам