.content-text-field
  h2 РЕГЛАМЕНТ
    br
    |постоянно действующего
    br
    |Третейского суда г. Москвы по экономическим спорам
  p Настоящий Регламент содержит правила постоянно действующего Третейского суда г. Москвы по экономическим спорам(далее именуемого Третейский суд) и применяется при разрешении споров, подведомственных Третейскому суду.
  h3 ЧАСТЬ 1. ОБЩИЕ ПРИНЦИПЫ
  h4 Глава 1. ОБРАЩЕНИЕ В ТРЕТЕЙСКИЙ СУД
  ul.collapseList
    li
      a(href="#") Статья 1. Право обращения в Третейский суд
      p 1. Третейский суд принимает к рассмотрению споры организаций - юридических лиц, граждан, осуществляющих предпринимательскую деятельность без образования юридического лица и имеющих статус индивидуального предпринимателя, приобретенный в установленном законом порядке, физических лиц, которые предъявили в Третейский суд иск в защиту своих прав и интересов, либо которым предъявлен иск.
    li
      a(href="#") Статья 2. Порядок обращения в Третейский суд
      p 1. Для обращения в Третейский суд не требуется соблюдения предварительного порядка урегулирования споров самими сторонами.
      p 2. Обращение в Третейский суд осуществляется в форме искового заявления. Заявление может быть направлено в Третейский суд почтовой связью, курьерской службой, электронной связью ссылка на эл. адрес или вручено непосредственно Председателю Третейского суда или уполномоченному лицу.
        |  Согласно ФЗ-№ 63 "Об электронной подписи" и ФЗ «Об электронной цифровой подписи» исковое заявление, направленное в Третейский суд по средствам электронной связи, подписанное электронной цифровой подписью (ЭЦП),  признается электронным документом, равнозначным документу (иску) на бумажном носителе, оформленному в соответствии со всеми нормами законодательства.

    li
      a(href="#") Статья 3. Решение Третейским судом вопроса о возможности рассмотрения спора
      p 1. Третейский суд самостоятельно решает вопрос наличия или действительности соглашения о передаче спора Третейскому суду. Если Третейский суд признаёт отсутствие или недействительность соглашения сторон, материалы по спору возвращаются сторонам без рассмотрения.

