.content-text-field
  h2 Компетенция суда
  p
    strong
      |Статья 3. Решение Третейским судом вопроса о возможности рассмотрения спора
    ol
      li Третейский суд самостоятельно решает вопрос наличия или действительности соглашения о передаче спора Третейскому суду. Если Третейский суд признаёт отсутствие или недействительность соглашения сторон, материалы по спору возвращаются сторонам без рассмотрения.
  p
    strong
      |Статья 27. Компетенция Третейского суда по взысканию третейского сбора, издержек, связанных с рассмотрением дела в Третейском суде, в том числе расходов на оплату услуг представителя в третейском разбирательстве
  ol
    li  В силу норм главы 4 Федерального закона от 24.07.2002 N 102-ФЗ &laquo;О третейских судах в РФ&raquo;, а также в связи с тем, что в соответствии с настоящим Регламентом уплата третейского сбора и связанных с рассмотрением дела в Третейском суде расходов осуществляется путём внесения денежных средств на счёт ООО &laquo;Центр правовой поддержки № 1&raquo;, взыскатель передаёт ему права требования и права взыскания с должника: 
      ul
        li третейского сбора,
        li судебных издержек, связанных с разрешением спора в Третейском суде,
        li расходов на оплату услуг представителей в третейском разбирательстве.
          |  Уведомлением должнику об уступке права требования являются: третейское соглашение (третейская оговорка), настоящий Регламент (как часть договора), процессуальные документы третейского разбирательства с уведомлением стороны, решение суда, постановление третейского судебного пристава о возбуждении исполнительного производства (как в целом, так и в отдельности по каждому акту).
    li В своём решении Третейский суд должен отразить, что если сторона отдельно не просит о замене ее как взыскателя в отношении требования возмещения судебных, исполнительских издержек и неустоек (штрафов), связанных с неисполнением решения суда, то эти требования стороны взыскиваются в пользу ООО &laquo;Центр правовой поддержки № 1&raquo;.
