.content-text-field
  //- img.pull-left.img-responsive(src="/img/logo.png")
  p
    strong
      u Третейский суд города Москвы по экономическим спорам
      i &nbsp; - негосударственный судебный орган, разрешающий споры по экономическим (хозяйственным) договорам юридических лиц между собой, юридических лиц и граждан, граждан между собой.
  p
    u Третейский суд города Москвы по экономическим спорам
    | &nbsp;создан Центром правовой поддержки №1 при участии немецкой финансовой организации Бронштайн фонд, Международной нефтесервисной компании Riuus, LLC, американской финансовой организации Golden Flame CC, LLC и Автономной некоммерческой организации Юридическое агентство &laquo;Начало&raquo;. Наш суд официально зарегистрирован в Арбитражном суде г. Москвы, а так же действует на всей территории Российской Федерации.

  p
    strong
      u Ряд причин по которым выгоднее обращаться в третейский суд города Москвы по экономическим спорам.

  ul
    li
      strong Место проведения&nbsp;
        |третейского разбирательства определяется соглашением сторон или с учётом всех обстоятельств дела, включающих фактор удобства для сторон;
    li
      strong Формирование состава&nbsp;
        |- В третейском суде стороны имеют возможность формировать состав суда рассматривающего дело;
    li
      strong По общему правилу третейское заседание&nbsp;
        |- закрытое;
    li
      strong Ведение протокола&nbsp;
        |- заседания третейского суда может быть отменено соглашением сторон;
    li
      strong Конфиденциальность&nbsp;
        |участников судебного процесса;
    li
      strong Срок рассмотрения&nbsp;
        |– 14 рабочих дней с момента принятия обращения.
    li
      strong Вступление&nbsp;
        |решения в силу - немедленно
    li
      strong Окончательность решения
        |- Если стороны в третейском соглашении предусмотрели, что решение третейского суда является окончательным, то его оспаривание невозможно.