.content
  .container
    .row
      .col-md-3
        include sidebar
      .col-md-9
        .content-text-field
          h2 Страница находится в процессе разработки. Пожалуйста, посетите её позже
