#loader
  #loaderInner
header#header
  .header-top.container
    .row
        a.logo.col-sm-4.col-md-3(href='/')
          img.img-responsive(src="img/logo.png")
        .col-sm-8.col-md-9.logo-text
          h1 Третейский суд г. Москвы <br> по экономическим спорам
  //- .header-navigation
  //-   .nav.navbar.navbar-default(role="navigation")
  //-     .navbar-header
  //-       button.navbar-toggle(type="button", data-toggle="collapse", data-target="#site_navigation")
  //-         span.sr-only Toggle navigation
  //-         span.icon-bar
  //-         span.icon-bar
  //-         span.icon-bar
  //-     #site_navigation.collapse.navbar-collapse.container
  //-       ul.nav.navbar-nav
  //-         li.dropdown.active
  //-           a.dropdown-toggle(href="#", data-toggle="dropdown")
  //-             | О суде
  //-             b.caret
  //-           ul.dropdown-menu
  //-             li
  //-               a(href="documents.html") Правоустанавливающие документы
  //-             li
  //-               a(href="in_process.html") Структура суда
  //-             li
  //-               a(href="in_process.html") Аппарат суда (судьи)
  //-             li
  //-               a(href="in_process.html") Контакты
  //-         li.dropdown
  //-           a.dropdown-toggle(href="#", data-toggle="dropdown")
  //-             | Правовые основы
  //-             b.caret
  //-           ul.dropdown-menu
  //-             li
  //-               a(href="in_process.html") Международные и внутр. нормативные акты
  //-             li
  //-               a(href="in_process.html") Регламент, протокол
  //-         li
  //-           a(href="trial.html") Судебный процесс
  //-         li.dropdown
  //-           a.dropdown-toggle(href="#", data-toggle="dropdown")
  //-             | Информация
  //-             b.caret
  //-           ul.dropdown-menu
  //-             li
  //-               a(href="in_process.html") Контакты
  //-             li
  //-               a(href="in_process.html") Третейскеое соглашение
  //-             li
  //-               a(href="in_process.html") Третейская оговорка
  //-             li
  //-               a(href="in_process.html") Образец платежного поручения
  //-         li
  //-           a(href="in_process.html") Вакансии
