head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //- Development assets
  //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel='stylesheet', href='css/bootstrap.min.css')
  link(rel='stylesheet', href='css/style.css')
  script(src='js/vendor/modernizr-2.8.3.min.js')
  //- Production assets
  // <link rel="stylesheet" href="css/_main.min.css">