//- Development assets
script(src='js/vendor/jquery-1.11.0.min.js')
//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
script(src='js/vendor/bootstrap.min.js')
script(src="js/scripts.js")
//- Production assets
// <script src="js/_main.min.js"></script>