.nav.navbar.navbar-default(role="navigation")
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#site_navigation")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
  ul#site_navigation.collapse.navbar-collapse.left-menu
    li
      span О суде
      ul.hover-drop
        li
          a(href="documents.html") Правоустанавливающие документы
        li
          a(href="in_process.html") Структура суда
    li
      span Правовые основы
      ul.hover-drop
        li
          a(href="in_process.html") Международные и внутр. нормативные акты
        li
          a(href="in_process.html") Регламент, протокол
        li
          a(href="in_process.html") Аппарат суда (судьи)
        li
          a(href="in_process.html") Контакты
    li
      a(href="trial.html") Судебный процесс
    li
      span Информация
      ul.hover-drop
        li
          a(href="in_process.html") Контакты
        li
          a(href="in_process.html") Третейскеое соглашение
        li
          a(href="in_process.html") Третейская оговорка
        li
          a(href="in_process.html") Образец платежного поручения
    li
      a(href="in_process.html") Вакансии