greenText = #049586
mainText = #282114
.content
  background-color #bdc3c7
  padding 80px 0 195px
  font-size 14px
  line-height 30px
  h2
    font-size 22px
    color greenText
    font-weight bold
    margin 0 0 36px 0
    text-align center
    line-height 28px
  h3
    font-size 18px
  h4
    font-size 14px
    line-height 18px

//left-menu
.left-menu
  padding-left 0
  li
    list-style none
    color #fff
    font-size 14px
    line-height 17px
    background-color #a3a7a9
    border 2px solid #9fa4a6
    border-left 4px solid #049586
    margin-top 20px
    position relative
    &:hover
      background-color #7f8c8d
      border-color #7f8585
      border-left-color #049586
    &:first-child
      margin-top 0
    a
    span
      padding 12px 18px
      color inherit
      display block
      &:hover
        text-decoration none
        cursor pointer
      &:focus
        text-decoration none
        outline none
.hover-drop
  width 215px
  position absolute
  // right -218px
  left 100%
  top -2px
  z-index 1
  background-color #ecf0f1
  padding-left 0
  display none
  transition  1s
  li
    color #049586
    background-color transparent
    border none
    margin 0
    &:hover
      color #fff
      background-color #049586
.navbar-default
  background transparent
  border none
// content-text-field
.content-text-field
  background-color #ced3d5
  padding 55px
  // margin -15px 0 -20px 25px
  img
    margin 0 15px 15px 0
  a
    color greenText
    text-decoration underline
    &:hover, &:focus
      color #7f8c8d
      outline none
.collapseList
  padding-left 0
  list-style none
  p
    padding-left 10px
    display none