footer
	height 75px
	background-color #a3a7a9
	position absolute
	bottom 0
	left 0
	width 100%
	&:before
		content ''
		position absolute
		top -65px
		left 0
		width 100%
		height 65px
		background-image url('../img/footer.png')