headerBg = #ecf0f1
navbarBg = #049586
navbarHoverBg = #29a598
navbarColor = #fff
greenColor = #049586
.caret
    margin-left 12px

#header
    background headerBg
    border-bottom 3px solid greenColor

.header-top
    padding-top 10px
    padding-bottom 10px

.logo
    img
        max-width 175px

.logo-text
   h1
        padding-top 12px
        padding-left 5px
        text-align center

.header-navigation
    background navbarBg
    text-align center
    .navbar
        background none
        border none
        box-shadow none
        margin-bottom 0
    .navbar-nav
        float none
        margin 0 auto
        letter-spacing -4px
        &>li
            float none
            display inline-block
            letter-spacing normal
            vertical-align middle
            &>a
                padding 19px 28px
                color navbarColor
                &:hover
                &:focus
                    background navbarHoverBg
                    color navbarColor
            &.active
                &>a
                    background navbarHoverBg
                    color navbarColor
                    &:hover
                        background navbarHoverBg
                        color #fff
            &.dropdown
                &>a
                    padding-right 11px
                ul
                    li
                        a
                            &:hover
                            &:focus
                                color navbarBg
                                background none
        .open
            &>a
                background navbarBg
                color navbarColor
                &:hover
                &:focus
                    color navbarColor
                    background navbarBg