/* ==========================================================================
   Media queries
   ========================================================================== */
@media (min-width: 992px)
  .left-menu  li:hover .hover-drop
        display inline-block
@media (max-width: 991px)
    h1
        font-size 35px
        line-height 42px
    .header-navigation .navbar-nav>li
        float left
    .header-navigation .navbar-nav>li.dropdown>a
        padding-left 10px
        padding-right 10px
    .content
        padding-top 0px
    .content-text-field
        margin-left 0px
        margin-top 40px
        padding 20px
    .left-menu
      display none

@media(min-width: 768px) and (max-width: 991px)
    header
        padding-top 60px
    .container
        width 750px
    .navbar
        min-height 0px
    .navbar-header
        position fixed
        width 100%
        top 0
        left 0
        z-index 10
        background #049586
        display block
        height auto
    .navbar-default
        .navbar-toggle
            border-width 2px
            &:hover, &:focus
                .icon-bar
                    background-color #049586
            .icon-bar
                background-color #fff
        .navbar-collapse
              position fixed
              width 100%
              left 0px
              top 50px
              background-color #A3A7A9
              z-index 10
              li
                  border none
    .header-navigation
        .navbar-nav
            li
                display block
                float none
                color #555
                background #e7e7e7
                &.active
                    color #fff
                    a
                        background #7f8c8d
                        color #fff
                        &:hover
                            background #7f8c8d
                            color #fff
                &.dropdown
                    a
                a
                    color #555
                    &:hover
                        background #a3a7a9
                        color #fff
                    &:focus
                         background #ced3d5
                         color #555
                &.open
                    a, a:hover
                        background #ced3d5
                        color #555
                    .dropdown-menu
                        li
                            a
                                background #ced3d5
                                color #555
                                padding-top 10px
                                padding-bottom 10px
                                white-space normal
                                &:focus
                                    background #ced3d5
                                    color #555
    .navbar-collapse
        padding 0
    .hover-drop
        width 100%
        left 0
        top 100%
    .navbar-collapse.in
        overflow visible

@media(max-width: 767px)
    h1
        font-size 28px
        line-height 32px
    .container
        width 100%
    header
        padding-top 35px
    .header-top
        padding-top 0
        padding-bottom 0
        text-align center
        // background navbarBg
        // color navbarColor
    .logo
        img
            margin 0 auto
    .logo-text
        h1
            padding 0
    .navbar
        min-height 0px
    .navbar-header
        position fixed
        width 100%
        top 0
        left 0
        z-index 10
        background #049586
        display block
        height auto
    .navbar-default
        .navbar-toggle
            border-width 2px
            &:hover, &:focus
                .icon-bar
                    background-color #049586
            .icon-bar
                background-color #fff
        .navbar-collapse
              position fixed
              width 100%
              left 0px
              top 50px
              background-color #a3a7a9
              z-index 10
              li
                  border none
    .header-navigation
        .navbar-nav
            li
                display block
                float none
                color #555
                background #e7e7e7
                &.active
                    color #fff
                    a
                        background #7f8c8d
                        color #fff
                        &:hover
                            background #7f8c8d
                            color #fff
                &.dropdown
                    a
                a
                    color #555
                    &:hover
                        background #a3a7a9
                        color #fff
                    &:focus
                         background #ced3d5
                         color #555
                &.open
                    a, a:hover
                        background #ced3d5
                        color #555
                    .dropdown-menu
                        li
                            a
                                background #ced3d5
                                color #555
                                padding-top 10px
                                padding-bottom 10px
                                white-space normal
                                &:focus
                                    background #ced3d5
                                    color #555
    .navbar-collapse
        padding 0
    .hover-drop
        width 100%
        left 0
        top 100%
    .navbar-collapse.in
        overflow visible
@media(max-width: 479px)
    h1
        font-size 21px
        line-height 28px