@import url('http://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic&subset=latin,cyrillic-ext')
@import 'normalize.styl'
@import 'nib'
@import 'sprite'
@import 'mixins'
/* =============================================================================
     Variables
     ========================================================================== */

font-color = #000000
selection-bg = #ffffff
link-color = inherit
link-visited = inherit
link-hover = inherit

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: font-color
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: selection-bg
    text-shadow: none;
}

::selection {
    background: selection-bg
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==|== Author's custom styles ===============================================
     ========================================================================== */

body
    font-family arial
    background-color #bdc3c7
    position relative

.container
    width 970px

h1
    font-size 46px
    line-height 60px
    font-weight bold
#loader
    background none repeat scroll 0 0 #fff
    bottom 0
    height 100%
    left 0
    position fixed
    right 0
    top 0
    width 100%
    z-index 9999

#loaderInner
    background-image url("../img/preloader.gif")
    background-repeat no-repeat
    background-posirion center center
    background-color #fff
    height 128px
    width 128px
    margin-top -30px
    margin-left -30px
    left 50%
    top 50%
    position absolute

@import 'header'
@import 'content'
@import 'footer'

/*! END Site style*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@import 'media'