doctype
html.no-js
  include partials/head
  body
    include partials/header
    .content
        .container
            .row
                .col-md-3
                    include partials/sidebar
                .col-md-9
                    .content-text-field
                        h2 Страница находится в процессе разработки. Пожалуйста, посетите её позже
    include partials/footer
    include partials/scripts
