doctype
html.no-js
  include partials/head
  body
    include partials/header
    .content
        .container
            .row
                .col-md-3
                    include partials/sidebar
                .col-md-9
                    include partials/content
    include partials/footer
    include partials/scripts
