doctype
html.no-js
  include partials/head
  body
    include partials/header
    .content
        .container
            .row
                .col-md-12
                    include partials/content_staff
    include partials/footer
    include partials/scripts