
<div id="loader">
  <div id="loaderInner"></div>
</div>
<header id="header">
  <div class="header-top container">
    <div class="row"><a href="/" class="logo col-sm-4 col-md-3"><img src="img/logo.png" class="img-responsive"/></a>
      <div class="col-sm-8 col-md-9 logo-text">
        <h1>Третейский суд г. Москвы <br> по экономическим спорам</h1>
      </div>
    </div>
  </div>
</header>